.app {
    text-align: center;
    display: table;
    margin: 50px auto;
    max-width: 1296px;
}

.cards-01-clubs {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAABgCAMAAAB4x5+jAAAABlBMVEUAAAD///+l2Z/dAAAAq0lEQVR4Ae3WoY2FMQwGwdn+mz52BbzvB1GUJWFDLFtR9kraE32Rzx1nOTjJIc5xqNgd2B0As1PV6kAFBzhn7ju+cMB1DiE2BwBXOSHhuju/9JznDD0HXzhgdwDXOYFGByEsDgD43QEAXOMEEljnlcINe/ru6nOec8f3GwmbA4CrnAgxzwvUdU64bk+hgiOc+H9GB8xOgHansjsRneOETnLSWU6fO2lPyl79AbDZF+JUGpKuAAAAAElFTkSuQmCC);
}